body{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #84689e;
    font-family: 'Roboto', sans-serif;
}

.formulario{
    width: 400px;
    margin: 0 auto;
    padding: 1em;
    background-color: #ffffffad;
    border: 1px solid #4b364e67;
    border-radius: 15px;
    color:#444242;
    font-size: 1.15em;

}

.titulo{
    text-align: center;
    font-size: 35px;
    color: #474447;
    margin-bottom: 20px;

}
.entradas{
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 28em;
    outline: #84689e;
    border: 10px;
}
.botonverde
{
    background-color: #2c804c;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 0.5em;
    margin-left: 80px;
    cursor: pointer;
    border-radius: 0.5em;
    width: 90px;
}

.botonrojo
{
    background-color: #e60000;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
}